/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */

body {
  margin: 0;
  padding: 0;
}

.auth {
  display: flex;
   justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
 }


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}


.navbar {
  height: 80px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(14, 13, 13, 0.3);

}

.nav-item {
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.nav-item:hover {
  transform: translateZ(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.effect {
  transform-style: preserve-3d;
  perspective: 1000px;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card{
  border: 1px solid red;
  }

h2 {
  margin-top: 0;
}

img {
  width: 350px;
  height: 280px;
}


p {
  max-width: 400px;
  font-size: 12px;
}

.title{
  margin-right: 500px;
  color: whitesmoke;
  font-size: 30px;
  font-style: italic;
}

form {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}

.res{
  --c:  #229091; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.res:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.res:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.log {
  position: relative;
  background: #9e9d9d;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  transition: 0.2s;
}

.log:hover {
  letter-spacing: 0.2rem;
  padding: 1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.log::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: red;
}

.log span {
  position: relative;
  z-index: 1;
}
.log i {
  position: absolute;
  inset: 0;
  display: block;
}

.log i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #c1e700;
  transition: 0.2s;
}

.log:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.log i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.log:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.button_slide {
  color: black;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 8px 6px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f57fd7;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin: 5px;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}



.recipes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
  padding: 10px ;
  justify-content: center;
  align-items: center;
}

.recipe-card {
  flex: 1;
  max-width: 400px; 
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.save-card {
  flex: 1;
  display: inline-block;
  max-width: 400px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.save-card h2 {
  margin-top: 0;
}

.save-card img {
  width: 350px;
  height: 280px;
}

.save-card p {
  margin: 5px 0;
}


.heading{
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}
